/** Especificidad 001*/
main {
    display: grid;
    grid-template-areas:
    "headline"
    "section";
}

/** Especificidad 001*/
h2 {
    grid-area: "h2";
    text-align: center;
}

/** Especificidad 002*/
main section {
    width: 100%;
    grid-area: "section";
    display: grid;
    height: auto;
    grid-template-areas:
        "label input input"
        "canvas canvas canvas"
        "png svg .";
}

/** Especificidad 001*/
canvas {
    grid-area: "canvas";
    width: auto;
    height: auto;
    background-color: antiquewhite;
    border: 0.1em solid black;

    margin: 0.5em;
}

/** Especificidad 001*/
input {
    grid-area: "input";
}

/** Especificidad 001*/
label {
    grid-area: "label";
}

/** Especificidad 001*/
button {
    margin: 0.1em;
    background-color: #4CAF50;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button [data-name="save"]{
    grid-area: "png";
}

/** Especificidad 011*/
button [data-name="svg"]{
    grid-area: "svg";
}