/* datos personales: Alex Fernandez Sale - UO279375 */
/** Especifidad 001 */
body {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

/** Especifidad 001 */
h1 {
    font-size: 3em;
}

/** Especifidad 001 */
h2 {
    font-size: 2em;
}

/** Especifidad 001 */
h3 {
    font-size: 1.5em;
}

/** Especifidad 001*/
header {
    /** Hereda color de body (negro) */
    background-color: #E7E1E0;
}

/** Especifidad 001*/
a {
    color: #000000;
}

/** Especifidad 011*/
a:visited {
    color: #324A60;
}

/** Especifidad 002*/
ol li {
    list-style-type: upper-roman;
}

/** Especifidad 004*/
ol li ol li {
    list-style: decimal;
}

/** Especifidad 001*/
ul {
    list-style-type: square;
}

/** Especifidad 012 */
ul li:nth-child(3) {
    background-color: #E7E1E0;
}

/** Especifidad 002 */
dl dt {
    text-decoration-line: underline;
}

/** Especifidad 001 */
table {
    text-align: center;
    display: grid;
}

/** Especifidad 001 */
caption {
    text-align: left;
    font-size: 1.2em;
}


/** Especifidad 001 */
tr,
td,
th {
    border: 0.1em outset #000000;
    padding: 0.05em;
}

/** Especificad 002 */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1ex 2ex;
    margin: auto;
    width: 100%;
}

/**Especificidad 001 */
meteo {
    flex: 0 25%;
    height: 13em;
    border: 1px solid #000000;
    padding: 0.5em 0 0 0;
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(116, 99, 209);
}


/** Especificidad 002 */
meteo h4 {
    margin: 0;
    font-size: 1.5em;
}

/** Especificidad 002 */
meteo content{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

meteo content data {
    padding: 1em 0;
    align-self: left;
    display: flex;
    flex-direction: column;
}

meteo content img {
    padding: 0 0 2em 2em;
    position: relative;
}

meteo content data p {
    padding: 0.5em 0;
    margin: 0;
}

