/* datos personales: Alex Fernandez Sale - UO279375 */
/** Especifidad 001 */
body {
    /** Color de fondo por defecto (blanco) */
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

/** Especifidad 001 */
h1 {
    font-size: 3em;
}

/** Especifidad 001 */
h2 {
    font-size: 2em;
}

/** Especifidad 001 */
h3 {
    font-size: 1.5em;
}

/** Especifidad 001*/
header {
    /** Hereda color de body (negro) */
    background-color: #E7E1E0;
}

/** Especifidad 001*/
a {
    /** Hereda color de fondo de header (#E7E1E0) */
    color: #000000;
}

/** Especifidad 011*/
a:visited {
    /** Hereda color de fondo de header (#E7E1E0) */
    color: #324A60;
}

/** Especifidad 002*/
ol li {
    list-style-type: upper-roman;
}

/** Especifidad 004*/
ol li ol li {
    list-style: decimal;
}

/** Especifidad 001*/
ul {
    list-style-type: square;
}

/** Especifidad 012 */
ul li:nth-child(3) {
    /** Hereda color de body (negro) */
    background-color: #E7E1E0;
}

/** Especifidad 002 */
dl dt {
    text-decoration-line: underline;
}

/** Especifidad 001 */
table {
    text-align: center;
    display: grid;
}

/** Especifidad 001 */
caption {
    text-align: left;
    font-size: 1.2em;
}


/** Especifidad 001 */
tr,
td,
th {
    border: 0.1em outset #000000;
    padding: 0.05em;
}

/** Especificad 002 */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1ex 2ex;
    margin: auto;
    width: 100%;
}

/**Especificidad 001 */
article[data-name="meteo"] {
    flex: 0 25%;
    height: auto;
    border: 1px solid #000000;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: #755ff1; /** Hereda color de body (negro) */
    display: grid;
    grid-template-areas:
        "header ."
        "tempMax  ."
        "tempMin  img"
        "humidity  img"
        "wind  .";
}

p[data-name="tempMax"] {
    grid-area: tempMax;
}

p[data-name="tempMin"] {
    grid-area: tempMin;
}

p[data-name="humidity"] {
    grid-area: humidity;
}

p[data-name="wind"] {
    grid-area: wind;
}

article[data-name="meteo"] img {
    grid-area: img;
    max-width: 100%;
    height: auto;
}

/** Especificidad 012 */
article[data-name="meteo"] h4 {
    grid-area: header;
    font-size: 2em;
}

/** Especificidad 011 */
section[data-name="dynamic-map"] {
    width:100%; 
    height:50vw; 
}

/** Especificidad 011 */
section[data-name="svg-processing-area"] {
    width:100%; 
    height:auto; 
}

/** Especificidad 001 */
menu {
    /** Hereda color de body (negro) */
    background-color: #E7E1E0;
    width: 97vw;
    height: auto;
    border: 0.1em solid black;
    margin-right: 0.1em;
}

/** Especificidad 001 */
main {
    width:100%; 
    height:30vw; 
}