/** Especificidad 001 */
main {
    display: flex;
    flex-direction: column;
}

/** Especificidad 001 */
h2 {
    flex-basis: 100%;
    text-align: center;
}

/** Especificidad 002 */
main section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1ex 2ex;
}

/** Especificidad 002 */
main a {
    width: 45%;
    padding: 2em ;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
