/** Especifidad 001 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

/** Especifidad 001 */
nav {
    align-items: right;
    display: flex;
    list-style-type: none;
    margin: 2em;
    padding: 0;
}

/** Especifidad 002 */
nav a {
    margin: 0 10px;
    text-decoration: none;
}

/** Especifidad 001 */
h1 {
    text-align: left;
    margin: 0.7em;
}

